<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
    <%= render 'books/list', user: @user, book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
       <h2>Book detail</h2>
       <table class="table">
         <tbody>
           <tr>
             <td>
               <%= link_to user_path(@user.id) do %>
                <%= image_tag @user.get_profile_image(100,100) %>
               <% end %></br>
               <%= link_to user_path(@user.id) do %>
                <%= @book1.user.name %>
               <% end %>
             </td>
             <td>
               <%= link_to book_path(@book1.id) do %>
                <%= @book1.title %>
               <% end %>
             </td>
             <td>
               <%= @book1.body %>
             </td>
             <td>
               <% if @book1.user == current_user %>
                 <%= link_to "Edit", edit_book_path(@book1.id) %>
               <% end %>
             </td>
             <td>
               <% if @book1.user == current_user %>
                 <%= link_to "Destroy",book_path(@book1.id),method: :delete %>
               <% end %>
             </td>
           </tr>
         </tbody>
       </table>
    </div>
 </div>
</div>